main {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "main main main main"
    "one two three four";
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  background: url(images/main-img.jpg) 50% 100% no-repeat;
  height: 680px;
  grid-area: main;
}

.one {
  grid-area: one;
  min-width: 256px;
  height: 200px;
  background: url(images/image-one.jpg) 50% 100% no-repeat;
}

.two {
  grid-area: two;
  min-width: 256px;
  background: url(images/image-two.jpg) 50% 100% no-repeat;
}

.three {
  grid-area: three;
  min-width: 256px;
  background: url(images/image-three.jpg) 50% 100% no-repeat;
}

.four {
  grid-area: four;
  min-width: 256px;
  background: url(images/image-four.jpg) 50% 100% no-repeat;
}

nav {
  position: absolute;
  left: 50%;
  display: flex;
  width: 980px;
  height: 36px;
  background:
    linear-gradient(
      rgba(138, 138, 138, 1) 0%,
      rgba(123, 123, 123, 1) 26%,
      rgba(115, 115, 115, 1) 47%,
      rgba(95, 95, 95, 1) 48%,
      rgba(99, 99, 99, 1) 77%,
      rgba(111, 111, 111, 1) 100%
    );
  text-align: center;
  border-radius: 10px;
  margin-top: 100px;
  transform: translate(-50%, -50%);
}

.apple {
  position: relative;
  top: 20%;
  height: 21px;
}

nav a,
nav div {
  display: inline-block;
  flex-grow: 1;
  box-shadow: 0.5px 0 0.1px 0.04px #949494;
  vertical-align: middle;
  position: relative;
}

nav a {
  border-right: 0.02px solid #575757;
  text-decoration: none;
}

.glass {
  position: absolute;
  top: 28%;
  left: 22%;
  width: 13px;
}

nav input {
  position: relative;
  top: 20%;
  width: 100px;
  height: 19px;
  background: transparent;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #585858;
  transition: width 0.3s ease-in-out;
  padding: 2px 18px 1px 25px;
  box-shadow: 0 -2px black, 0 0.5px white;
}

nav span {
  position: relative;
  top: 20%;
  color: white;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 220px;
  position: absolute;
  width: 100%;
  text-align: center;
  align-content: center;
}

h1,
h2,
p {
  color: white;
}

h1 {
  top: 250px;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-weight: 100;
}

h2 {
  top: 350px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

p {
  top: 450px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 18px;
  font-weight: 100;
}

p img {
  height: 25px;
}

footer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto 0;
}

.second-footer {
  display: inline-block;
  margin-left: 90px;
}

.bottom-footer {
  display: block;
  margin-top: 10px;
}

footer img {
  position: relative;
  top: 6px;
}

footer span {
  color: #6e6e6e;
  font-size: 10px;
  font-family:
    "Lucida Grande",
    "Lucida Sans Unicode",
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
  line-height: 12px;
}

footer a {
  color: #08c;
  font-size: 10px;
  line-height: 12px;
  font-family:
    "Lucida Grande",
    "Lucida Sans Unicode",
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
  text-decoration: none;
}

nav a:hover {
  background:
    linear-gradient(
      180deg,
      rgba(94, 94, 94, 1) 0%,
      rgba(78, 78, 78, 1) 26%,
      rgba(72, 72, 72, 1) 47%,
      rgba(57, 57, 57, 1) 48%,
      rgba(61, 61, 61, 1) 84%,
      rgba(80, 80, 80, 1) 100%
    );
}

input:focus {
  padding-right: 10px;
  width: 180px;
  background: white;
  border: 1px solid wheat;
  background-image: url(../images/magnifying-glass-gray.svg);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 12px 12px;
}
